@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Voice to text chat</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.7.1/adapter.min.js"></script>
    <p>Tet-a-tet</p>
    <audio id="remoteAudio" controls autoplay></audio>
    <div class="center-container">
        <button id="connectButton" style="display: flex">Connect</button>
        <button id="disconnectButton" style="display: none">Disconnect</button>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
    <style src="~/css/site.css"></style>
</div>