@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding: 15px 0;
    margin: 0;
    background-color: #445561;
    font-family: 'Arial', sans-serif;
    color: #343a40;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    top: 0%;
}

.side-bar {
    width: 10%;
    background-color: #4f7e9e;
    height: 100%;
    position: absolute;
    top: 0%;
}

.left-bar {
    left: 0;
}

.right-bar {
    right: 0;
}

.content {
    margin: 0%;
    height: 100%;
    top: 0%;
    margin-top: 50px;
}

.display-4 {
    color: #007bff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #385898;
    background-color: #e7f3ff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    .btn:focus-visible {
        box-shadow: 0 0 0 2px #666;
    }

    .btn:hover {
        background-color: #DBE7F2;
    }

    .btn:active {
        transform: scale(0.96);
    }

    .btn:disabled {
        pointer-events: none;
        opacity: 0.65;
    }

    .btn i {
        vertical-align: middle;
    }

.audio-custom {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #385898;
    background-color: #e7f3ff;
    user-select: none;
    appearance: none;
}

.audio-custom {
    background-color: #f1f3f4;
}

    .audio-custom:disabled {
        pointer-events: none;
        opacity: 0.65;
    }

.footer {
    position: absolute;
    left: 10%;
    bottom: 0;
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}

    .footer a {
        color: #007bff;
        text-decoration: none;
    }

        .footer a:hover {
            text-decoration: underline;
        }